* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-repeat: no-repeat;
}

.intro {
    height: 100vh;
    display: flex;
    background: #DFD9E2;
    justify-content: center;
    align-items: center;

}

.full-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #713182, #EC6E61);
    box-shadow: 0px 0px 15px #000000;
}

.intro-left {
    display: flex;
    width: 35vw;
    height: 55vh;
    border-right: 2px solid black;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro-right {
    display: flex;
    width: 35vw;
    height: 55vh;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.head-shot {
    padding-bottom: 15px;
}

#about {
    height: 50vh;
    display: flex;
    background: linear-gradient(to right, #713182, #EC6E61);
    justify-content: center;
    align-items: center;
}

.about-text {
    padding: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

.about-story {
    font-size: clamp(.5rem, 1vw, 1.5rem); /* Minimum size of 1rem, preferred size of 1.5vw, maximum size of 2rem */
    background-color: #DFD9E2;
    border: 2px solid #713182;
    box-shadow: 0px 0px 15px black;
}

#skills {
    height: 70vh;
    display: flex;
    background-color: #DFD9E2;
    justify-content: space-around; 
    gap: 20px;
    align-items: center;
}

.skills-card {
    border: 2px solid purple;
    display: flex;
    align-items: center;
    width: 35vh;
    height: 30vh;
    min-width: 200px; 
    max-width: 500px; 
    min-height: 275px; 
    max-height: 500px; 
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 0px 0px 10px #000000;
    background-image: linear-gradient(to bottom, purple, purple);
    background-repeat: no-repeat;
    background-size: 100% 25%;
}

.skills-card img {
    width: 40px;
    height: 40px;
}

.card-title {
   padding-bottom: 35px;
}

.skills-list {
    list-style-type: none;
}

#projects {
    /* Projects styles go here */
}

#contact {
    /* Contact me styles go here */
}